:root {
  --bg-primary: #f4f5f9;
  --bg-secondary: #dddfe6;
  --text-primary: #252c41;
  --text-accent: #f1404b
  ;
}

html {
  width: 100vw;
  max-width: 100%;
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  min-height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0;
  position: relative;
}

.subtitle {
  width: 100%;
  font-size: 4em;
  font-weight: 100;
  margin: 0;
  padding-left: 1em;
}

section {
  height: 100vh;
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

section:nth-of-type(odd) {
  background-color: var(--bg-secondary);
}

section a{
  color: var(--text-accent);
  text-decoration: none;
}

.section-content {
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 2em 0 2em 0;
}

nav {
  background-color: var(--bg-primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

nav a {
  float: left;
  display: block;
  color: var(--text-accent);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

nav a:hover {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  transition: color 0.3s ease, color 0.3s ease;
}

nav a.active:after {
  font-family: 'boxicons';
  content:'\ed47';
  font-size: small;
  display:block;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  background-color: var(--bg-secondary);
  text-align: center;
  color: var(--text-primary);
  padding: 15px 0;
  width: 100%;
}

.contacts {
  display: flex;
  width: 10%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 1em 0;
}

.contacts a{
  color: var(--text-accent);
  text-decoration: none;
}

.contacts a:hover{
  color: var(--text-primary);
  transition: color 0.3s ease, color 0.3s ease;

}
.mention {
  font-weight: 200;
  font-size: small;
}

/* ===== TITRES ======= */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 7em;
}

h2 {
  font-weight: 600;
  font-size: 3em;
  padding: 0.5em 0 1em 0;
  margin: 0;
}

h3 {
  font-weight: 500;
  padding: 1rem 0 0.5em 0;
}

h4 {
  font-weight: 300;
}

.main-grid-container {
  width: 80%;
  display: grid;
  grid-template-columns:1fr 3fr;
  gap: 0;
  padding: 0;
  margin: 0;
}

.illustration {
  width:100%;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  margin: 0;
  padding: 3rem 3rem 3rem 0;
}

/* https://pqina.nl/blog/applying-a-circular-crop-mask-to-an-image/ */
.illustration img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 50%;
}

.scroll-down {
  display: block;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
}

.blinking {
  animation: mymove 2s infinite alternate;
}

@keyframes mymove {
  from {opacity:0;}
  to {opacity: 0.5;}
}

li>strong {
  margin-right: 0.5em;
}

.split {
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 0;
  padding: 0;
  margin: 0;
}